{
	"openapi": "3.1.0",
	"info": {
		"title": "Stellar Scout API",
		"version": "1.9.35",
		"summary": "Agent-native data layer for the Stellar ecosystem — projects, builders, hackathons, SCF, audits, research.",
		"description": "Read-only public API powering Stellar Scout. Aggregators, autonomous agents, and AI tools can call these endpoints directly without auth.\n\nAll endpoints are edge-cached. The same data is available via the @stellar-light/scout-mcp Model Context Protocol server (for human-driven clients) and via the @stellar-light/api-client TypeScript SDK (for autonomous aggregators).\n\nData sources merged behind these endpoints: the Stellarlight directory of curated Stellar projects + an indexed-and-scored GitHub repo index, Stellar Passport builder profiles, Electric Capital developer activity, Soroban audit corpus, SDF skills.stellar.org skill catalog, lumenloop ecosystem data, and primary research (SEPs, papers, dev docs, SCF Handbook). Live collection sizes are in GET /api/status (sources[]) — counts are intentionally not hardcoded here to avoid drift.\n\n## Routing metadata (description vs x-routing)\nOperation `description` fields are deliberately terse purpose statements: the operation's distinctive job plus its single sharpest disambiguation, nothing else. The machine-routing vocabulary that previously lived in description prose — category/product enumerations, synonym chains, example question phrasings — lives in each operation's `x-routing` extension: `{purpose, keywords[], useWhen[], notFor[], exampleQuestions[]}`. Lexical and embedding routers should score `x-routing` as separately-weighted fields rather than concatenating it into the description (broad prose descriptions were lexically capturing question families other operations answer); `notFor` entries name the operation to prefer, as '<question shape> -> <operationId>'.\n\n## Versioning\nEvery response carries an `X-API-Version` header (currently `1`). The number bumps only on a breaking response-shape change; additive fields don't bump it. Pin to a version by asserting the header. Breaking changes are announced before they ship.\n\n## Rate limits\nNone enforced today — the API is public and unauthenticated. When limits are introduced they will be advertised via `X-RateLimit-*` and `Retry-After` headers and documented here BEFORE enforcement, so autonomous consumers can adopt back-off ahead of time. Be courteous: cache where `Cache-Control` allows, and prefer `offset` pagination over hammering.\n\n## Pagination\nList endpoints (`/api/projects/search`, `/api/builders`, `/api/rfps`) accept `limit` + `offset`. EVERY list response carries `meta.counts` with `returned` (this page) and `total`/`matched` (all rows matching the filter, pre-slice) — compare the two to tell a complete read from a truncated one, and page until `offset + returned >= total`. Two documented exceptions, both explicit rather than silent: `searchResearch` serves `total: null` with a `totalBasis` because similarity ranking has no crisp matching set, and `/api/changelog` additionally serves `returned`/`total` flat on `meta` for backward compatibility — those flat fields are DEPRECATED, read `meta.counts`.\n\n## Ordering & relevance\n`/api/projects/search` sorts by descending keyword `score` (token-overlap count) and exposes `meta.matchMode` (`strict` → `loose-1` → `majority` → `semantic`) so you know how much the query was relaxed. `semantic` means no keyword tier matched at all — the rows are vector-similarity guesses (`via: \"semantic\"`, confidence capped at medium), not keyword-confirmed answers. When `?type=` is present, TYPE DEFINES MEMBERSHIP (the full typed set, limit-independent) and q only ranks within it — matchMode reports `all` with an explicit label, because a tier would falsely claim q gated the set (sls-033). `corrected` means the rows matched ONLY through a known spelling correction (e.g. strupey → stroopy): the query token does not occur in the rows, so verify the identity before treating them as evidence about the queried name. `/api/research` sorts by descending vector-similarity `score` (0–1 cosine). Use these for cross-source ranking when merging with other aggregators.",
		"contact": {
			"name": "Stellar Light",
			"url": "https://stellarlight.xyz/scout",
			"email": "support@stellarlight.xyz"
		},
		"license": {
			"name": "MIT",
			"identifier": "MIT"
		}
	},
	"servers": [
		{
			"url": "https://stellarlight.xyz",
			"description": "Production"
		}
	],
	"tags": [
		{
			"name": "Discovery",
			"description": "Service health + endpoint enumeration"
		},
		{
			"name": "Projects",
			"description": "Curated Stellar project directory"
		},
		{
			"name": "Repos",
			"description": "Indexed and scored Stellar GitHub repos + code-question answering"
		},
		{
			"name": "Hackathons",
			"description": "Stellar Hacks events + DoraHacks feed"
		},
		{
			"name": "Builders",
			"description": "Stellar Passport builder profiles"
		},
		{
			"name": "Partners",
			"description": "Ecosystem partner directory (anchors, ramps, infra, tooling) with verified signals + freshness"
		},
		{
			"name": "Funding",
			"description": "SCF history + open RFPs"
		},
		{
			"name": "Research",
			"description": "Vector search over the 4,541-chunk corpus (SEPs, audits, papers, dev docs, etc.)"
		},
		{
			"name": "Skills",
			"description": "AI skill marketplace (SKILL.md / MCP / SDK / CLI catalog)"
		},
		{
			"name": "Analytics",
			"description": "Cross-event rollups + topic clusters"
		},
		{
			"name": "Ecosystem",
			"description": "Developer activity + ecosystem dev stats"
		},
		{
			"name": "Feedback",
			"description": "Curator feedback loop"
		}
	],
	"paths": {
		"/api/status": {
			"get": {
				"operationId": "getStatus",
				"tags": [
					"Discovery"
				],
				"summary": "Service health + endpoint enumeration",
				"description": "Self-describe / health endpoint — service ok + versions, per-source freshness and counts (`sources[]`), recent usage, and an enumeration of every /api/* endpoint. Cheap, no params. Use to check how fresh/large the data is or to discover endpoints. Not for the data itself → call the matching search operation.",
				"x-routing": {
					"purpose": "Service health, per-source data freshness, and endpoint discovery.",
					"keywords": [
						"status",
						"health",
						"up",
						"version",
						"freshness",
						"last updated",
						"as of",
						"counts",
						"sources",
						"endpoints",
						"discovery",
						"usage",
						"projects count",
						"hackathons count",
						"builders count",
						"repos count",
						"ecosystemStats",
						"sdfSkills",
						"researchDocs",
						"partners count"
					],
					"useWhen": [
						"how fresh or large is the data ('as of when?', 'how many projects are indexed?')",
						"what endpoints exist / sanity-check the API is up"
					],
					"notFor": [
						"the actual project/repo/research data -> searchProjects / searchRepos / searchResearch",
						"ecosystem developer-activity macro stats -> getLeaderboard"
					],
					"exampleQuestions": [
						"How many projects are indexed?",
						"When was the repo index last updated?",
						"What endpoints does the Scout API expose?"
					]
				},
				"responses": {
					"200": {
						"description": "Service status",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/StatusResponse"
								}
							}
						}
					}
				}
			}
		},
		"/api/quality": {
			"get": {
				"operationId": "getQualityReport",
				"tags": [
					"Verification"
				],
				"summary": "Stellar Light's OWN data-quality self-report — this source's known limitations, per-surface health, guard state",
				"description": "Scout / Stellar Light's SELF-REPORT, for calibrating how much to rely on THIS service's answers — not a general trust, health, or quality tool. knownLimitations is DERIVED from our measurements and says what to do INSTEAD — read it first. gapMatrix names what THIS directory is missing WHERE, with real slugs; missFunnel replays this service's open recall findings to say at which STAGE each dies. Also: per-surface open findings, the row-score definition, status-basis mix, repo coverage, every guard with its promise and whether it holds, and the trend. Counts carry denominators. No parameters.",
				"x-routing": {
					"purpose": "Source calibration for THIS service only: how trustworthy is Stellar Light / Scout's own data, measured, with its known weak spots.",
					"keywords": [
						"stellarlight data quality",
						"scout data quality",
						"how reliable is this directory",
						"how reliable is this source",
						"this source's limitations",
						"scout quality report",
						"directory data provenance",
						"quality of this data set"
					],
					"useWhen": [
						"the question is explicitly about Scout / Stellar Light / this directory's own data quality, coverage, or limitations",
						"deciding how much weight to give THIS service's answers",
						"explaining why one of THIS service's answers is uncertain or a row is thin"
					],
					"notFor": [
						"any technical, protocol, SDK, or operational question that merely contains words like trust, confidence, source, coverage, health, or limitations without asking about THIS service's data (route to docs/search instead)",
						"trust or health of a PROJECT or PRODUCT in the directory -> searchProjects / verifyClaim",
						"verifying ONE specific claim -> verifyClaim",
						"the freshness/changelog of the API contract -> getChangelog",
						"per-row confidence on a search result (already served inline)"
					],
					"exampleQuestions": [
						"How reliable is Stellar Light's status data?",
						"What are the known limitations of the Scout directory?"
					]
				},
				"responses": {
					"200": {
						"description": "The quality self-report",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"meta": {
											"type": "object",
											"properties": {
												"source": {
													"type": "string"
												},
												"generatedAt": {
													"type": "string",
													"format": "date-time"
												},
												"measuredAt": {
													"type": "string",
													"format": "date-time"
												},
												"apiVersion": {
													"type": "string"
												},
												"humanPage": {
													"type": "string"
												},
												"methodology": {
													"type": "string"
												},
												"cachePolicy": {
													"type": "string",
													"description": "How stale this response may legitimately be (cache + stale-while-revalidate). Read measuredAt, not the clock."
												}
											}
										},
										"verdict": {
											"type": "object",
											"description": "READ FIRST. Derived from guard states, never authored: counts of guards holding / breached / stale, the one definition of open used everywhere in this document, and two sentence lists, safeToRelyOn and doNotRelyOn.",
											"properties": {
												"guardsHolding": {
													"type": "integer"
												},
												"guardsBreached": {
													"type": "integer"
												},
												"guardsStale": {
													"type": "integer"
												},
												"openFindings": {
													"type": "integer"
												},
												"openDefinition": {
													"type": "string"
												},
												"projectRows": {
													"type": "integer"
												},
												"meanRowEvidence": {
													"type": "integer"
												},
												"safeToRelyOn": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"doNotRelyOn": {
													"type": "array",
													"items": {
														"type": "string"
													}
												}
											}
										},
										"northStar": {
											"type": "object",
											"description": "The one number the engine system optimizes (full-surface audit ok-rate), served WITH its age. warning is non-null whenever it should not be read as current (stale, below target, or a series measured over changing probe counts).",
											"properties": {
												"target": {
													"type": "integer"
												},
												"latest": {
													"type": "object",
													"properties": {
														"date": {
															"type": "string"
														},
														"label": {
															"type": "string"
														},
														"okRate": {
															"type": "integer"
														},
														"ok": {
															"type": "integer",
															"nullable": true
														},
														"probes": {
															"type": "integer"
														},
														"evidence": {
															"type": "string"
														}
													}
												},
												"series": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"date": {
																"type": "string"
															},
															"label": {
																"type": "string"
															},
															"okRate": {
																"type": "integer"
															},
															"ok": {
																"type": "integer",
																"nullable": true
															},
															"probes": {
																"type": "integer"
															},
															"evidence": {
																"type": "string"
															}
														}
													}
												},
												"ageDays": {
													"type": "integer"
												},
												"stale": {
													"type": "boolean"
												},
												"belowTarget": {
													"type": "boolean"
												},
												"warning": {
													"type": "string",
													"nullable": true
												},
												"comparableSeries": {
													"type": "boolean"
												}
											}
										},
										"progress": {
											"type": "array",
											"description": "Where this service stands against its own published quality plan (QUALITY.md). A phase cannot show done here without being done there, and remaining work is served with the same weight as finished work.",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "string"
													},
													"title": {
														"type": "string"
													},
													"state": {
														"type": "string",
														"enum": [
															"done",
															"in-progress",
															"not-started",
															"unknown"
														]
													},
													"evidence": {
														"type": "string",
														"nullable": true
													},
													"shippedSoFar": {
														"type": "string",
														"nullable": true
													},
													"remaining": {
														"type": "string",
														"nullable": true
													}
												}
											}
										},
										"library": {
											"type": "object",
											"description": "The written record behind the numbers — lesson write-ups per defect class, committed fetch receipts for human-verified corrections, and audit reports. Paths are repo-relative.",
											"properties": {
												"lessons": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"file": {
																"type": "string"
															},
															"date": {
																"type": "string"
															},
															"title": {
																"type": "string"
															},
															"lessonCount": {
																"type": "integer"
															},
															"bytes": {
																"type": "integer"
															}
														}
													}
												},
												"audits": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"file": {
																"type": "string"
															},
															"name": {
																"type": "string"
															}
														}
													}
												},
												"receipts": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"file": {
																"type": "string"
															},
															"slug": {
																"type": "string"
															},
															"url": {
																"type": "string"
															},
															"fetchedAt": {
																"type": "string"
															},
															"markers": {
																"type": "array",
																"items": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										},
										"knownLimitations": {
											"type": "array",
											"description": "Read first. Each entry is derived from a measurement, not authored: what the limit IS, the number behind it, and what to do instead.",
											"items": {
												"type": "object",
												"properties": {
													"area": {
														"type": "string"
													},
													"limit": {
														"type": "string"
													},
													"measurement": {
														"type": "string"
													},
													"instead": {
														"type": "string"
													}
												}
											}
										},
										"perOperation": {
											"type": "object",
											"description": "Per-OPERATION contract quality, keyed by the operationId a caller invokes. contractProbe: clean (probe reached it, no violations) / violations (reached, listed) / skipped (could not check, reason given) / unmeasured (never reached). An unmeasured operation is NOT a passing one.",
											"properties": {
												"definition": {
													"type": "string"
												},
												"probedAt": {
													"type": "string"
												},
												"counts": {
													"type": "object",
													"properties": {
														"clean": {
															"type": "integer"
														},
														"violations": {
															"type": "integer"
														},
														"skipped": {
															"type": "integer"
														},
														"unmeasured": {
															"type": "integer"
														}
													}
												},
												"operations": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"operationId": {
																"type": "string"
															},
															"method": {
																"type": "string"
															},
															"path": {
																"type": "string"
															},
															"contractProbe": {
																"type": "string",
																"enum": [
																	"clean",
																	"violations",
																	"skipped",
																	"unmeasured"
																]
															},
															"skipReason": {
																"type": "string",
																"nullable": true
															},
															"violations": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"kind": {
																			"type": "string"
																		},
																		"name": {
																			"type": "string"
																		},
																		"evidence": {
																			"type": "string"
																		}
																	}
																}
															},
															"fieldDrift": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"kind": {
																			"type": "string"
																		},
																		"field": {
																			"type": "string"
																		}
																	}
																}
															},
															"probedAt": {
																"type": "string"
															}
														}
													}
												}
											}
										},
										"consumerFindings": {
											"type": "object",
											"description": "Defects filed against this service by its largest agent consumer (stellar-raven), from THEIR evaluation battery. counts is their answer key; ourResponse is our own linked-issue state and is fenced off deliberately, a score computed from a variable we control is not an external grade.",
											"properties": {
												"generatedAt": {
													"type": "string",
													"format": "date-time"
												},
												"consumer": {
													"type": "string"
												},
												"definition": {
													"type": "string"
												},
												"counts": {
													"type": "object",
													"additionalProperties": {
														"type": "integer"
													},
													"description": "THEIR status vocabulary -> count, verbatim from their records."
												},
												"ourResponse": {
													"type": "object",
													"properties": {
														"fixShipped": {
															"type": "integer"
														},
														"fixShippedIds": {
															"type": "array",
															"items": {
																"type": "string"
															}
														},
														"fixApplicable": {
															"type": "integer"
														},
														"declined": {
															"type": "integer"
														},
														"distinctIssuesClosed": {
															"type": "integer"
														},
														"scoredBy": {
															"type": "string"
														},
														"note": {
															"type": "string"
														}
													}
												},
												"total": {
													"type": "integer"
												},
												"records": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"title": {
																"type": "string"
															},
															"status": {
																"type": "string"
															},
															"discovered": {
																"type": "string",
																"nullable": true
															},
															"disposition": {
																"type": "string",
																"nullable": true
															},
															"sourceUrl": {
																"type": "string"
															},
															"ourIssue": {
																"type": "integer",
																"nullable": true
															},
															"ourResponse": {
																"type": "object",
																"nullable": true,
																"properties": {
																	"issue": {
																		"type": "integer"
																	},
																	"state": {
																		"type": "string"
																	},
																	"closedAt": {
																		"type": "string",
																		"nullable": true
																	},
																	"url": {
																		"type": "string"
																	}
																}
															}
														}
													}
												}
											}
										},
										"flow": {
											"type": "object",
											"description": "Findings as a node/link graph: detector -> surface -> outcome, whole-ledger counts (not a sample). nodes carry a column index (0 detector, 1 surface, 2 outcome) and a throughput value; links carry source/target node indexes and the count flowing between them.",
											"properties": {
												"definition": {
													"type": "string"
												},
												"nodes": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"label": {
																"type": "string"
															},
															"column": {
																"type": "integer"
															},
															"value": {
																"type": "integer"
															}
														}
													}
												},
												"links": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"source": {
																"type": "integer"
															},
															"target": {
																"type": "integer"
															},
															"sourceId": {
																"type": "string"
															},
															"targetId": {
																"type": "string"
															},
															"value": {
																"type": "integer"
															}
														}
													}
												}
											}
										},
										"missFunnel": {
											"type": "object",
											"description": "Where known-item misses die. Every open recall finding is replayed live and classified at the FIRST failing stage — passing (no longer reproduces) / ranking (returned but below top-3) / admission (not returned for the query) / identity (own exact name does not return it) / corpus (not in the directory at all). Stages are mutually exclusive and each names its owning area. A high 'passing' share means the open finding count is carrying STALE entries rather than real debt.",
											"properties": {
												"generatedAt": {
													"type": "string",
													"format": "date-time"
												},
												"population": {
													"type": "object",
													"properties": {
														"openRecallMisses": {
															"type": "integer"
														},
														"replayableOpenRecallMisses": {
															"type": "integer"
														},
														"unclassified": {
															"type": "integer",
															"description": "Open recall findings whose probe shape this funnel cannot replay. Real findings the funnel is blind to, not cleared ones."
														},
														"unclassifiedExamples": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"id": {
																		"type": "string"
																	},
																	"probe": {
																		"type": "string"
																	}
																}
															}
														},
														"coveragePct": {
															"type": "integer"
														},
														"sampled": {
															"type": "integer"
														},
														"note": {
															"type": "string"
														}
													}
												},
												"stages": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"stage": {
																"type": "string",
																"enum": [
																	"passing",
																	"ranking",
																	"admission",
																	"identity",
																	"corpus"
																]
															},
															"label": {
																"type": "string"
															},
															"owner": {
																"type": "string"
															},
															"note": {
																"type": "string"
															},
															"count": {
																"type": "integer"
															},
															"share": {
																"type": "integer"
															},
															"examples": {
																"type": "array",
																"items": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										},
										"gapMatrix": {
											"type": "object",
											"description": "Entity x missing-field map with REAL identifiers — the actionable half of this report. Each row: what is missing, the count and denominator (a sample, never a census), why it matters to a caller, what closes it, and example slugs/repos so the gap can be worked or independently checked.",
											"properties": {
												"definition": {
													"type": "string"
												},
												"rows": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"entity": {
																"type": "string",
																"enum": [
																	"project",
																	"repo"
																]
															},
															"field": {
																"type": "string"
															},
															"missing": {
																"type": "integer"
															},
															"of": {
																"type": "integer"
															},
															"share": {
																"type": "number"
															},
															"whyItMatters": {
																"type": "string"
															},
															"closedBy": {
																"type": "string"
															},
															"exampleSource": {
																"type": "string"
															},
															"examplePoolSize": {
																"type": "integer"
															},
															"exampleCap": {
																"type": "integer"
															},
															"exampleTruncated": {
																"type": "boolean"
															},
															"examples": {
																"type": "array",
																"items": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										},
										"surfaces": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"surface": {
														"type": "string"
													},
													"means": {
														"type": "string",
														"nullable": true
													},
													"openFindings": {
														"type": "integer"
													},
													"clearedFindings": {
														"type": "integer"
													},
													"verifiedFindings": {
														"type": "integer"
													}
												}
											}
										},
										"findings": {
											"type": "object",
											"properties": {
												"open": {
													"type": "integer"
												},
												"cleared": {
													"type": "integer"
												},
												"verifiedClosed": {
													"type": "integer"
												},
												"total": {
													"type": "integer"
												},
												"states": {
													"type": "string",
													"description": "The partition rule: open + cleared + verified = total, disjoint."
												},
												"note": {
													"type": "string"
												},
												"byFailureMode": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"mode": {
																"type": "string"
															},
															"surface": {
																"type": "string"
															},
															"open": {
																"type": "integer"
															},
															"cleared": {
																"type": "integer"
															},
															"verified": {
																"type": "integer"
															}
														}
													}
												},
												"openByAge": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"bucket": {
																"type": "string"
															},
															"count": {
																"type": "integer"
															}
														}
													}
												},
												"recentlyCleared": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"probe": {
																"type": "string"
															},
															"surface": {
																"type": "string"
															},
															"failureMode": {
																"type": "string"
															},
															"clearedAt": {
																"type": "string"
															}
														}
													}
												}
											}
										},
										"rowQuality": {
											"type": "object",
											"properties": {
												"read": {
													"type": "integer"
												},
												"population": {
													"type": "integer",
													"description": "Total rows in the collection. read should equal it; the counts here are a census, not a sample."
												},
												"coveragePct": {
													"type": "integer"
												},
												"frame": {
													"type": "string"
												},
												"sampled": {
													"type": "integer"
												},
												"weakestTotal": {
													"type": "integer"
												},
												"weakestTruncated": {
													"type": "boolean"
												},
												"meanScore": {
													"type": "integer"
												},
												"scoreDefinition": {
													"type": "string"
												},
												"strongBases": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"basisStrength": {
													"type": "string"
												},
												"statusBasisMix": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"basis": {
																"type": "string"
															},
															"count": {
																"type": "integer"
															}
														}
													}
												},
												"missingByField": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"field": {
																"type": "string"
															},
															"count": {
																"type": "integer"
															}
														}
													}
												},
												"weakestRows": {
													"type": "array",
													"description": "The curation queue: each row's slug, evidence score, and exactly which facts are missing.",
													"items": {
														"type": "object",
														"properties": {
															"slug": {
																"type": "string"
															},
															"name": {
																"type": "string"
															},
															"status": {
																"type": "string",
																"nullable": true
															},
															"statusBasis": {
																"type": "string",
																"nullable": true
															},
															"prominence": {
																"type": "integer"
															},
															"score": {
																"type": "integer"
															},
															"factsPresent": {
																"type": "integer"
															},
															"factsTotal": {
																"type": "integer"
															},
															"missing": {
																"type": "array",
																"items": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										},
										"repoQuality": {
											"type": "object",
											"properties": {
												"read": {
													"type": "integer"
												},
												"population": {
													"type": "integer"
												},
												"coverage": {
													"type": "object",
													"description": "Coverage rates against the population each metric TARGETS. Two populations with different intent: the curated index (project-link + builder-owned rows a directory record claims) and the ec-taxonomy tail (indexed for completeness, scanned opportunistically, low coverage there is intended). Whole-census withCodeDepth/withNotes/withMainnet remain for continuity but carry no intent.",
													"properties": {
														"curatedIndex": {
															"type": "object",
															"properties": {
																"repos": {
																	"type": "integer"
																},
																"means": {
																	"type": "string"
																},
																"withCodeDepth": {
																	"type": "integer"
																},
																"depthPct": {
																	"type": "integer"
																}
															}
														},
														"tail": {
															"type": "object",
															"properties": {
																"repos": {
																	"type": "integer"
																},
																"means": {
																	"type": "string"
																},
																"withCodeDepth": {
																	"type": "integer"
																}
															}
														},
														"knowledgeNotes": {
															"type": "object",
															"properties": {
																"pool": {
																	"type": "integer"
																},
																"poolMeans": {
																	"type": "string"
																},
																"withNotes": {
																	"type": "integer"
																}
															}
														},
														"mainnetJoin": {
															"type": "object",
															"properties": {
																"pool": {
																	"type": "integer"
																},
																"poolMeans": {
																	"type": "string"
																},
																"joined": {
																	"type": "integer"
																}
															}
														}
													}
												},
												"duplicateRows": {
													"type": "integer",
													"description": "Rows whose fullName duplicates another row. Storage debt, tracked here until zero; all counts are over DISTINCT repos."
												},
												"duplicateNote": {
													"type": "string"
												},
												"frame": {
													"type": "string"
												},
												"sampled": {
													"type": "integer"
												},
												"topGraded": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"fullName": {
																"type": "string"
															},
															"repoScore": {
																"type": "integer",
																"nullable": true
															},
															"tier": {
																"type": "string",
																"nullable": true
															},
															"activity": {
																"type": "string",
																"nullable": true,
																"description": "Derived from lastCommitAt: active (<=90d) / slowing (<=365d) / dormant / archived. null = no commit date held; unknown is not dormant."
															},
															"language": {
																"type": "string",
																"nullable": true
															},
															"projectSlug": {
																"type": "string",
																"nullable": true
															},
															"source": {
																"type": "string",
																"nullable": true
															},
															"notes": {
																"type": "integer"
															},
															"codeDepth": {
																"type": "integer",
																"nullable": true
															},
															"deployable": {
																"type": "boolean",
																"description": "the scanner marked this row a deployable contract"
															},
															"mainnetJoined": {
																"type": "boolean",
																"description": "a verified mainnet contract is attributed to this repo (raw field mainnetContractId)"
															}
														}
													}
												},
												"thinnestEvidence": {
													"type": "array",
													"description": "Indexed but thinly evidenced — the repo work queue.",
													"items": {
														"type": "object",
														"properties": {
															"fullName": {
																"type": "string"
															},
															"repoScore": {
																"type": "integer",
																"nullable": true
															},
															"tier": {
																"type": "string",
																"nullable": true
															},
															"activity": {
																"type": "string",
																"nullable": true
															},
															"language": {
																"type": "string",
																"nullable": true
															},
															"projectSlug": {
																"type": "string",
																"nullable": true
															},
															"notes": {
																"type": "integer"
															},
															"codeDepth": {
																"type": "integer",
																"nullable": true
															},
															"deployable": {
																"type": "boolean",
																"description": "the scanner marked this row a deployable contract"
															},
															"mainnetJoined": {
																"type": "boolean",
																"description": "a verified mainnet contract is attributed to this repo (raw field mainnetContractId)"
															}
														}
													}
												},
												"withCodeDepth": {
													"type": "integer"
												},
												"withKnowledgeNotes": {
													"type": "integer"
												},
												"joinedToMainnetContract": {
													"type": "integer"
												}
											}
										},
										"guards": {
											"type": "array",
											"description": "Every guard with its promise and THREE-state verdict: holding (measured and passing on fresh evidence), breached (measured and failing), stale (evidence older than the guard's own freshness window; neither passing nor failing). holding is true ONLY in the holding state, so a stale guard is never green.",
											"items": {
												"type": "object",
												"properties": {
													"key": {
														"type": "string"
													},
													"title": {
														"type": "string"
													},
													"promise": {
														"type": "string"
													},
													"measure": {
														"type": "object",
														"description": "The headline as numbers, so a consumer never parses prose. of is null for rates and bare counts.",
														"properties": {
															"value": {
																"type": "number"
															},
															"of": {
																"type": "integer",
																"nullable": true
															},
															"unit": {
																"type": "string"
															}
														}
													},
													"value": {
														"type": "string"
													},
													"state": {
														"type": "string",
														"enum": [
															"holding",
															"breached",
															"stale"
														]
													},
													"severity": {
														"type": "string",
														"enum": [
															"high",
															"medium",
															"low"
														]
													},
													"holding": {
														"type": "boolean"
													},
													"asOf": {
														"type": "string"
													},
													"ageDays": {
														"type": "integer"
													},
													"cadence": {
														"type": "string",
														"enum": [
															"weekly",
															"on-deploy",
															"baseline"
														]
													},
													"freshnessDays": {
														"type": "integer"
													},
													"details": {
														"type": "array",
														"items": {
															"type": "string"
														}
													},
													"evidence": {
														"type": "string"
													}
												}
											}
										},
										"trend": {
											"type": "array",
											"description": "Committed daily history; a null metric means it was not measured that day, never zero.",
											"items": {
												"type": "object",
												"properties": {
													"date": {
														"type": "string"
													},
													"batteryPass": {
														"type": "integer",
														"nullable": true
													},
													"batteryFail": {
														"type": "integer",
														"nullable": true
													},
													"batteryErrors": {
														"type": "integer",
														"nullable": true,
														"description": "Battery slices that CRASHED that day. A crashed slice is not a pass and not a fail; without this counter a crashed run rendered as a perfect green day."
													},
													"parityPass": {
														"type": "integer",
														"nullable": true
													},
													"openMaps": {
														"type": "integer",
														"nullable": true
													},
													"honestyDebt": {
														"type": "integer",
														"nullable": true
													},
													"sampled": {
														"type": "integer",
														"nullable": true
													},
													"population": {
														"type": "integer",
														"nullable": true
													},
													"liveRows": {
														"type": "integer",
														"nullable": true
													},
													"liveNoSource": {
														"type": "integer",
														"nullable": true
													},
													"humanVerified": {
														"type": "integer",
														"nullable": true
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/verify": {
			"get": {
				"operationId": "verifyClaim",
				"tags": [
					"Verification"
				],
				"summary": "Verify a claim (audited / live / maintained / issued) against indexed evidence — verdict + evidence + confidence",
				"description": "Claim in → verdict out, dated evidence attached. Types: audited (audit registry), live (the status record + provenance tier — Pre-Release CONTRADICTS a live claim, source attached), maintained (indexed code activity + curated knowledgeNotes), issued ('is EURC issued by Circle' — the stablecoin registry; a multi-issuer ticker names EVERY issuer, so attribution is checkable, never conflated). Verdicts assert OUR corpus, never the world: supported / contradicted / unsupported (statement carries the denominator) / unresolved. Answers carry the full subject card.",
				"x-routing": {
					"purpose": "Fact-check an audit claim about a project with dated evidence, instead of inferring from search results.",
					"keywords": [
						"verify",
						"verification",
						"fact check",
						"is it audited",
						"audit claim",
						"audited by",
						"security audit status",
						"claim",
						"evidence"
					],
					"useWhen": [
						"is <project> audited / was it audited by <firm>",
						"verifying an audit claim found in a pitch, README, or post",
						"needs a verdict with evidence and dates, not search rows"
					],
					"notFor": [
						"browsing or reading the audit reports themselves -> listAudits",
						"liveness/status questions ('is X live') -> searchProjects or resolveProject",
						"code quality or maintenance signals -> getRepoTrust"
					],
					"exampleQuestions": [
						"Is Blend audited?",
						"Was Soroswap audited by OtterSec?"
					]
				},
				"parameters": [
					{
						"name": "claim",
						"in": "query",
						"description": "Natural-language audit claim in the closed grammar: 'is <project> audited', 'was <project> audited by <firm>'. Anything else 400s with the supported forms — refusal over guessing.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "type",
						"in": "query",
						"description": "Structured alternative to claim.",
						"schema": {
							"type": "string",
							"enum": [
								"audited",
								"live",
								"maintained",
								"issued"
							]
						}
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Project name, slug, alias, or former name (required with type=).",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "auditor",
						"in": "query",
						"description": "Restrict to reports by this firm (case/spacing-insensitive substring). A filtered miss names who DID audit in auditorsOnRecord.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "since",
						"in": "query",
						"description": "Only reports with engagement/publication on or after this date (YYYY-MM or YYYY-MM-DD).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Verdict with evidence (also served for unresolved subjects)",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"meta": {
											"type": "object",
											"properties": {
												"source": {
													"type": "string"
												},
												"generatedAt": {
													"type": "string",
													"format": "date-time"
												},
												"methodology": {
													"type": "string",
													"description": "What each verdict asserts — quote it rather than paraphrasing."
												},
												"searched": {
													"type": "object",
													"description": "The denominators behind the verdict.",
													"properties": {
														"audits": {
															"type": "integer"
														}
													}
												}
											}
										},
										"claim": {
											"type": "object",
											"description": "The parsed claim as understood.",
											"properties": {
												"type": {
													"type": "string",
													"enum": [
														"audited",
														"live",
														"maintained",
														"issued"
													]
												},
												"subject": {
													"type": "string"
												},
												"auditor": {
													"type": "string"
												},
												"since": {
													"type": "string"
												}
											}
										},
										"subject": {
											"type": "object",
											"description": "The full subject card (absent when verdict=unresolved): identity, links, types, status with provenance, prominence — the same labeled data the directory serves.",
											"properties": {
												"asked": {
													"type": "string"
												},
												"resolvedSlug": {
													"type": "string"
												},
												"resolvedName": {
													"type": "string"
												},
												"matchedOn": {
													"type": "string",
													"enum": [
														"slug",
														"canonical-slug",
														"alias",
														"name",
														"repo"
													]
												},
												"status": {
													"type": "string",
													"nullable": true
												},
												"statusBasis": {
													"type": "string",
													"nullable": true
												},
												"statusAsOf": {
													"type": "string",
													"nullable": true
												},
												"statusSourceUrl": {
													"type": "string",
													"nullable": true
												},
												"types": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"links": {
													"type": "object",
													"properties": {
														"website": {
															"type": "string",
															"nullable": true
														},
														"github": {
															"type": "string",
															"nullable": true
														},
														"docs": {
															"type": "string",
															"nullable": true
														}
													}
												},
												"verificationLevel": {
													"type": "string",
													"nullable": true
												},
												"supportedNetworks": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"prominence": {
													"type": "integer",
													"nullable": true
												}
											}
										},
										"verdict": {
											"type": "string",
											"enum": [
												"supported",
												"contradicted",
												"unsupported",
												"unresolved"
											],
											"description": "supported = evidence on record; contradicted = we hold a dated record saying otherwise (Pre-Release vs a live claim; every repo archived vs maintained); unsupported = nothing in OUR corpus either way (never 'false' — see statement); unresolved = unknown subject."
										},
										"statement": {
											"type": "string",
											"description": "One-sentence verdict with dates and denominators, safe to relay verbatim."
										},
										"evidence": {
											"type": "array",
											"description": "Typed evidence rows — discriminate on kind. audit-report = the audit registry; status-record = the lifecycle status with its provenance trio; code-activity = per-repo activity with the existing quality label; curated-note = a repo knowledgeNote (dated fact with source).",
											"items": {
												"type": "object",
												"properties": {
													"kind": {
														"type": "string",
														"enum": [
															"audit-report",
															"status-record",
															"code-activity",
															"curated-note"
														]
													},
													"auditor": {
														"type": "string",
														"nullable": true
													},
													"title": {
														"type": "string",
														"nullable": true
													},
													"reportUrl": {
														"type": "string",
														"nullable": true
													},
													"engagementEnd": {
														"type": "string",
														"nullable": true
													},
													"publishedAt": {
														"type": "string",
														"nullable": true
													},
													"findingsTotal": {
														"type": "integer",
														"nullable": true
													},
													"dateBasis": {
														"type": "string",
														"nullable": true
													},
													"observedAt": {
														"type": "string",
														"nullable": true
													},
													"status": {
														"type": "string",
														"nullable": true
													},
													"statusBasis": {
														"type": "string",
														"nullable": true
													},
													"statusAsOf": {
														"type": "string",
														"nullable": true
													},
													"statusSourceUrl": {
														"type": "string",
														"nullable": true
													},
													"repo": {
														"type": "string"
													},
													"lastCommitAt": {
														"type": "string",
														"nullable": true
													},
													"activityState": {
														"type": "string",
														"nullable": true
													},
													"isArchived": {
														"type": "boolean"
													},
													"stars": {
														"type": "integer",
														"nullable": true
													},
													"repoScoreLabel": {
														"type": "string",
														"nullable": true
													},
													"note": {
														"type": "string"
													},
													"source": {
														"type": "string"
													},
													"asOf": {
														"type": "string",
														"nullable": true
													}
												}
											}
										},
										"confidence": {
											"type": "object",
											"nullable": true,
											"description": "factConfidence over the newest evidence (basis × freshness). null when there is no evidence to score.",
											"properties": {
												"score": {
													"type": "number"
												},
												"label": {
													"type": "string"
												},
												"ageDays": {
													"type": "integer",
													"nullable": true
												}
											}
										},
										"currencyNote": {
											"type": "string",
											"description": "Present when the newest report predates the subject's latest code activity by >90 days."
										},
										"auditorsOnRecord": {
											"type": "array",
											"items": {
												"type": "string"
											},
											"description": "On an auditor-filtered miss: who DID audit the subject."
										},
										"resolution": {
											"type": "object",
											"description": "Only when verdict=unresolved: the resolver's own note.",
											"properties": {
												"note": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Unparseable claim or unsupported claim type",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"error": {
											"type": "string"
										},
										"supportedClaims": {
											"type": "array",
											"items": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/projects/resolve": {
			"get": {
				"operationId": "resolveProject",
				"tags": [
					"Discovery"
				],
				"summary": "Resolve a historical project name to what it is now",
				"description": "Reconciles a name found in an old post, changelog, README or repo against the current directory: returns the record it names, where to look NOW if that record was superseded, and the evidence behind any inactive status. **Use when:** you hit a project name that matches nothing current and need to know whether it was renamed, replaced, or is simply untracked. **Not for:** searching for projects by topic (→ searchProjects). A miss means NOT TRACKED HERE — never that the name never existed, never that it is defunct.",
				"x-routing": {
					"purpose": "Turn a stale or unfamiliar project name into its current identity, successor, and status evidence.",
					"keywords": [
						"renamed",
						"superseded",
						"what happened to",
						"no longer exists",
						"dead project",
						"defunct",
						"successor",
						"former name",
						"old name"
					],
					"useWhen": [
						"a name in an old article or repo matches nothing in the current directory",
						"deciding whether a project was renamed or actually wound down",
						"reconciling an outdated reference before citing it"
					],
					"exampleQuestions": [
						"What happened to Passport on Stellar?",
						"Is this project still around or was it renamed?",
						"This blog post mentions a project I cannot find — what is it now?"
					]
				},
				"parameters": [
					{
						"name": "q",
						"in": "query",
						"required": true,
						"description": "The name, slug, or stellarlight project URL encountered. Matched against slugs, then aliases, then normalized names.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Resolution, including an explicit miss",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": [
										"found",
										"query",
										"note"
									],
									"properties": {
										"meta": {
											"type": "object",
											"description": "Response provenance. Present on every 200; previously served but undeclared, so a generated type could not project it.",
											"properties": {
												"source": {
													"type": "string",
													"format": "uri"
												},
												"generatedAt": {
													"type": "string",
													"format": "date-time"
												},
												"searched": {
													"type": "integer",
													"description": "How many project records were searched — the denominator behind a miss."
												},
												"methodology": {
													"type": "string",
													"description": "Match order and what a miss does and does not claim. Safe to surface to a user."
												}
											}
										},
										"query": {
											"type": "string"
										},
										"found": {
											"type": "boolean",
											"description": "false = the name is not tracked in this directory. NOT a claim it never existed or is defunct."
										},
										"matchedOn": {
											"type": "string",
											"nullable": true,
											"enum": [
												"slug",
												"canonical-slug",
												"alias",
												"name",
												"repo"
											],
											"description": "How the query matched. An exact slug is a stronger identification than a normalized name."
										},
										"subject": {
											"type": "object",
											"nullable": true,
											"description": "The record the query names, which may itself be superseded.",
											"properties": {
												"slug": {
													"type": "string"
												},
												"name": {
													"type": "string"
												},
												"status": {
													"type": "string",
													"description": "Lifecycle label at statusAsOf. Weigh it with evidence.statusBasis — a label alone is not proof."
												}
											}
										},
										"current": {
											"type": "object",
											"nullable": true,
											"description": "Where to look now. Identical to subject when nothing moved.",
											"properties": {
												"slug": {
													"type": "string"
												},
												"name": {
													"type": "string"
												},
												"status": {
													"type": "string"
												},
												"url": {
													"type": "string",
													"format": "uri",
													"description": "Canonical project page for the CURRENT record."
												}
											}
										},
										"superseded": {
											"type": "boolean"
										},
										"evidence": {
											"type": "object",
											"nullable": true,
											"description": "Dated basis for the status. `unsourced: true` means we assert it with no citable source — our unverified record, not an established fact about a named company.",
											"properties": {
												"statusAsOf": {
													"type": "string",
													"format": "date-time",
													"nullable": true,
													"description": "When the status was OBSERVED, not when the record changed."
												},
												"statusBasis": {
													"type": "string",
													"nullable": true,
													"description": "How the status was established (e.g. human-verified, site-liveness, source-inherited). site-liveness means only that a page answered."
												},
												"statusSourceUrl": {
													"type": "string",
													"nullable": true,
													"description": "Citable source for the status, when one exists."
												},
												"unsourced": {
													"type": "boolean",
													"description": "true = asserted with NO citable source. Do not report it as an established fact about a named company."
												}
											}
										},
										"note": {
											"type": "string",
											"description": "Plain-words statement of what was resolved and what it does not claim."
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Missing or unknown query param",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/api/changes": {
			"get": {
				"operationId": "getChanges",
				"x-routing": {
					"purpose": "Which directory rows changed since a timestamp — a reconciliation feed for cached or remembered claims.",
					"keywords": [
						"what changed",
						"changed since",
						"change feed",
						"delta since",
						"diff since",
						"reconcile cache",
						"stale memory",
						"rows moved",
						"updated since",
						"recent updates to the directory"
					],
					"useWhen": [
						"you hold cached or remembered Scout facts and want only the rows that moved since a time",
						"reconciling agent memory or an institutional cache against the live directory"
					],
					"exampleQuestions": [
						"Which projects changed status since last Tuesday?",
						"What moved in the directory since my last sync?"
					],
					"notFor": [
						"what changed in the API or MCP surface -> getChangelog",
						"searching or browsing projects -> searchProjects"
					]
				},
				"tags": [
					"Discovery"
				],
				"summary": "Change feed: which rows moved since a given time",
				"description": "Reconciliation feed for consumers holding cached or remembered claims (agent memory, institutional cache): every project/repo/partner row whose data changed after `since`, newest-first per surface, with `facets` naming which dated fact families moved (status, scf-awards, code-facts, toml; [\"row\"] = undated change, re-read the row). **Use when:** you stored our answers earlier and want to refresh only what moved. **Not for:** what the change WAS (re-read the row via its search endpoint) or contract/API changes (→ /api/changelog). Absence = unchanged since `since`, never an existence claim.",
				"parameters": [
					{
						"name": "since",
						"in": "query",
						"required": true,
						"description": "ISO date (YYYY-MM-DD) or datetime; rows with changes strictly after this instant are returned. 400 on malformed, pre-2020, or future values.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "surfaces",
						"in": "query",
						"required": false,
						"description": "CSV subset of projects,repos,partners (default all three).",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "Max rows PER SURFACE, newest-first (1–500, default 100). meta.truncated.<surface> signals more.",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 500
						}
					}
				],
				"responses": {
					"200": {
						"description": "Changed rows, newest-first per surface",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": [
										"changes",
										"meta"
									],
									"properties": {
										"changes": {
											"type": "array",
											"items": {
												"type": "object",
												"required": [
													"surface",
													"changedAt",
													"facets"
												],
												"properties": {
													"surface": {
														"type": "string",
														"enum": [
															"projects",
															"repos",
															"partners"
														]
													},
													"slug": {
														"type": "string",
														"description": "projects/partners identity (absent on repos rows)"
													},
													"fullName": {
														"type": "string",
														"description": "repos identity owner/name (absent on other rows)"
													},
													"changedAt": {
														"type": "string",
														"format": "date-time"
													},
													"facets": {
														"type": "array",
														"items": {
															"type": "string"
														},
														"description": "Dated fact families that moved past `since`: status, scf-awards, code-facts, toml. [\"row\"] = the row changed but no dated facet localizes it."
													}
												}
											}
										},
										"meta": {
											"type": "object",
											"properties": {
												"since": {
													"type": "string",
													"format": "date-time"
												},
												"asOf": {
													"type": "string",
													"format": "date-time"
												},
												"surfaces": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"limitPerSurface": {
													"type": "integer"
												},
												"sourceAdvisory": {
													"type": "object",
													"nullable": true,
													"description": "Present ONLY when a source filter returned weak neighbors while stronger corpus-wide matches exist (a source-scoped vector search never goes empty — it returns the nearest in-source rows however weak). Carries inSourceTopScore, corpusWideTopScore, corpusWideTopSource and a note; treat it as the honest 'category is thin for this query' signal and consider dropping the filter.",
													"properties": {
														"note": {
															"type": "string"
														},
														"inSourceTopScore": {
															"type": "number"
														},
														"corpusWideTopScore": {
															"type": "number"
														},
														"corpusWideTopSource": {
															"type": "string",
															"nullable": true
														}
													}
												},
												"exactMiss": {
													"type": "object",
													"nullable": true,
													"description": "Present ONLY when the query named an exact FINDING identifier (e.g. V-SOR-VUL-002) that no indexed chunk carries verbatim. Vector search never goes empty, so without this an absent identifier returns the report's section boilerplate, scored as though it were a match. An identifier is present or it is a miss; there is no nearest-neighbour version of one. When this is present, do NOT report the identifier as found and do NOT infer its content from the returned rows: they rank similarity, not a match.",
													"properties": {
														"identifiers": {
															"type": "array",
															"items": {
																"type": "string"
															},
															"description": "The identifiers the query named that the corpus does not contain."
														},
														"note": {
															"type": "string"
														}
													}
												},
												"counts": {
													"type": "object",
													"additionalProperties": {
														"type": "integer"
													}
												},
												"truncated": {
													"type": "object",
													"additionalProperties": {
														"type": "boolean"
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Missing/invalid since, unknown param, or invalid surface — never silently ignored"
					}
				}
			}
		},
		"/api/changelog": {
			"get": {
				"operationId": "getChangelog",
				"x-routing": {
					"purpose": "What changed in the Scout API, MCP tools, and client — the contract-level changelog.",
					"keywords": [
						"changelog",
						"api changelog",
						"release notes for scout",
						"api changes",
						"what changed in the api",
						"new endpoint",
						"removed endpoint",
						"breaking change",
						"spec version",
						"mcp tool changes"
					],
					"useWhen": [
						"you cached the API or MCP surface earlier and want to know what moved before relying on it",
						"which spec version added or changed an endpoint, tool, parameter or enum"
					],
					"exampleQuestions": [
						"What changed in the Scout API recently?",
						"Did any MCP tools get added or removed this month?"
					],
					"notFor": [
						"which DATA rows changed -> getChanges",
						"Stellar protocol upgrade history -> searchResearch"
					]
				},
				"tags": [
					"Discovery"
				],
				"summary": "Recent changes to the API, MCP tools, and client",
				"description": "A curated, latest-first feed of contract-affecting changes — new/removed endpoints & tools, param/enum changes, description rewrites. Point an agent here to see what changed lately without reading git history. **Use when:** you cached the API surface earlier and want to know what moved before relying on it, or you're debugging a field/param that changed. **Not for:** the actual ecosystem data → use the relevant search endpoint; current health / source freshness / version → use /api/status.",
				"parameters": [
					{
						"name": "since",
						"in": "query",
						"required": false,
						"description": "Only entries on/after this ISO date (YYYY-MM-DD).",
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "Max entries to return, latest-first (1–100).",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100
						}
					}
				],
				"responses": {
					"200": {
						"description": "Changelog feed (latest-first)",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"service": {
											"type": "string"
										},
										"version": {
											"type": "string"
										},
										"generatedAt": {
											"type": "string",
											"format": "date-time"
										},
										"meta": {
											"type": "object",
											"properties": {
												"counts": {
													"type": "object",
													"properties": {
														"returned": {
															"type": "integer"
														},
														"total": {
															"type": "integer"
														}
													}
												},
												"returned": {
													"type": "integer",
													"deprecated": true,
													"description": "Deprecated flat copy — read meta.counts.returned."
												},
												"total": {
													"type": "integer",
													"deprecated": true,
													"description": "Deprecated flat copy — read meta.counts.total."
												},
												"latest": {
													"type": "string",
													"format": "date",
													"nullable": true,
													"description": "Date of the newest entry."
												},
												"filters": {
													"type": "object",
													"properties": {
														"since": {
															"type": "string",
															"format": "date",
															"nullable": true
														},
														"limit": {
															"type": "integer",
															"nullable": true
														}
													}
												},
												"note": {
													"type": "string"
												}
											}
										},
										"entries": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"date": {
														"type": "string",
														"format": "date"
													},
													"surfaces": {
														"type": "array",
														"items": {
															"type": "string",
															"enum": [
																"api",
																"mcp",
																"api-client",
																"skill"
															]
														}
													},
													"version": {
														"type": "string"
													},
													"type": {
														"type": "string",
														"enum": [
															"added",
															"changed",
															"fixed",
															"removed"
														]
													},
													"summary": {
														"type": "string"
													},
													"detail": {
														"type": "string"
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/projects/search": {
			"get": {
				"operationId": "searchProjects",
				"tags": [
					"Projects"
				],
				"summary": "Search Stellar projects — look up a project by name, or find prior art / competitors",
				"description": "Search the curated directory of Stellar projects/products — what has been BUILT, by whom, with SCF funding, lifecycle status, `builtBy`, links, indexed repos, and verified on-chain metrics (`onchain`) inline. THE way to LOOK UP a specific project by its name (a named protocol/app/wallet/tool) AND to discover 'who/what already exists for X'; the `type` filter gives exact product-type rosters (Wallet, DEX, Oracle, Lending, Payments, Stablecoin, RWA…). Not for docs, standards, or how-to/reference knowledge → use searchResearch.",
				"x-routing": {
					"purpose": "Directory lookup of built Stellar projects/products — status, SCF funding, builder, links. Keyword+synonym ranked by prominence/verification/funding/Live status, semantic fallback when keyword hits are thin.",
					"keywords": [
						"projects",
						"products",
						"apps",
						"dapps",
						"protocols",
						"teams",
						"companies",
						"startups",
						"card issuing",
						"debit cards",
						"card program",
						"what services can I integrate",
						"which providers support stellar",
						"DEXes",
						"AMMs",
						"oracles",
						"indexers",
						"custody providers",
						"lending protocols",
						"oracle",
						"price feeds",
						"centralized exchanges",
						"CEX",
						"which exchanges list XLM",
						"directory",
						"look up a project by name",
						"find a specific project",
						"named project",
						"project by name",
						"market map",
						"on-chain activity",
						"public goods",
						"public goods award",
						"onchain metrics",
						"contract events",
						"contract invocations",
						"asset holders",
						"circulating supply",
						"tvl",
						"prior art",
						"competitors",
						"defi",
						"lending",
						"credit",
						"yield",
						"amm",
						"dex",
						"swap",
						"liquidity",
						"nft marketplace",
						"wallets",
						"anchors",
						"on/off-ramps",
						"rwa",
						"real-world-asset tokenization",
						"stablecoins",
						"payments",
						"oracles",
						"identity",
						"gaming",
						"infrastructure",
						"tooling",
						"perpetuals",
						"derivatives",
						"block explorers",
						"stellar.expert",
						"stellarchain",
						"rosca",
						"susu",
						"chama",
						"etherfuse stablebonds",
						"ustry",
						"cetes",
						"soroswap",
						"scf-funded",
						"live",
						"inactive",
						"oracle provider",
						"oracle project",
						"oracle on stellar",
						"which oracle",
						"price oracle",
						"oracles on stellar",
						"find an oracle"
					],
					"useWhen": [
						"who has built / has anyone built / is there a live or SCF-funded project for X",
						"which projects exist / give me a directory or market map of a category (wallets, DeFi, NFT marketplaces, anchors and anchor infrastructure, explorers)",
						"DIRECTORY FACTS about a named product — status, funding, builder, links (e.g. Etherfuse Stablebonds USTRY/CETES, Soroswap)",
						"is there a mature X I could integrate / who is building Y / projects operating as anchors",
						"list/enumerate/compare from the curated directory: which wallets exist and how they differ, main DeFi projects, perpetuals/derivatives DEXes, AMM/liquidity protocols and their yields",
						"ACCOUNTABILITY / DILIGENCE by composing structured filters — which SCF-funded projects went inactive (`?scfAwarded=1&status=Inactive`), which Live projects a category has (`?type=Wallet&status=Live`); the natural-language words 'inactive/defunct/abandoned/dead' do NOT route from `q`, they must be passed as `status=Inactive`. `meta.counts.total` answers the 'how many' form."
					],
					"notFor": [
						"how-to / reference / docs questions (CLI usage, bindings, SEP or standards text, feasibility) -> searchResearch",
						"raw GitHub source repos ranked by code quality -> searchRepos",
						"editorial/analysis content about a product (articles, interviews, metrics commentary, deep dives) -> content platforms, not this directory",
						"category counts or whitespace -> getClusters",
						"ranking projects by GitHub activity / stars / commits -> getLeaderboard",
						"ramp DIRECTION or corridor for a specific anchor (on-ramp vs off-ramp, which country) -> getPartners, which carries rampTypes",
						"a TVL-complete DeFi rollup -> analyzeEcosystem dimension=tvl (the types taxonomy has no DeFi umbrella; RWA/Infrastructure-typed protocols like Spiko carry most Stellar TVL, so type=DEX+Lending rosters miss them)"
					],
					"exampleQuestions": [
						"Which wallets exist on Stellar and how do they differ?",
						"Has anyone built a ROSCA/susu app on Stellar?",
						"Is Etherfuse Stablebonds live and SCF-funded?",
						"Who built Soroswap?",
						"Give me a market map of Stellar DeFi projects",
						"Which SCF-funded projects have gone inactive? (?scfAwarded=1&status=Inactive)"
					]
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/q"
					},
					{
						"name": "category",
						"in": "query",
						"description": "Filter by category",
						"schema": {
							"type": "string",
							"enum": [
								"Infrastructure",
								"Tooling",
								"User-Facing App",
								"Asset",
								"Protocol/Contract",
								"Anchor",
								"Partner Integration"
							]
						}
					},
					{
						"name": "type",
						"in": "query",
						"description": "Filter to projects whose `types[]` includes this product type — server-side exact membership, e.g. `type=Wallet` enumerates Wallet-typed records (combine with `q` and/or `status` to scope further, or use alone to list a type). Distinct from `category` (a project has ONE category but can carry several types). Unknown values return 400 with validTypes.",
						"schema": {
							"type": "string",
							"enum": [
								"Wallet",
								"DEX",
								"Lending",
								"Bridge",
								"Infrastructure",
								"Payments",
								"Anchor",
								"SDK",
								"Indexer",
								"Explorer",
								"Analytics",
								"AI",
								"Gaming",
								"Education",
								"Security",
								"NFT",
								"RWA",
								"Stablecoin",
								"Social Impact",
								"RPC",
								"Faucet",
								"Card Issuing",
								"Exchange",
								"Oracle",
								"Yield"
							]
						}
					},
					{
						"name": "scfAwarded",
						"in": "query",
						"description": "Filter to SCF-funded projects only",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filter by lifecycle status (e.g. status=Inactive lists retired/defunct projects; status=Live restricts to operating ones). Compose with scfAwarded for accountability/diligence — `?scfAwarded=1&status=Inactive` is the roster of SCF-funded projects that have since gone inactive, and `meta.counts.total` is how many. Unknown values return 400 with validStatuses.",
						"schema": {
							"type": "string",
							"enum": [
								"Live",
								"Inactive",
								"Development",
								"Pre-Release",
								"Pre-Development"
							]
						}
					},
					{
						"$ref": "#/components/parameters/limit"
					},
					{
						"$ref": "#/components/parameters/offset"
					},
					{
						"$ref": "#/components/parameters/fields"
					}
				],
				"responses": {
					"200": {
						"description": "Project search results",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProjectSearchResponse"
								}
							}
						}
					}
				}
			}
		},
		"/api/repos/search": {
			"get": {
				"operationId": "searchRepos",
				"tags": [
					"Repos"
				],
				"summary": "Search the Stellar GitHub repo / code-reference index",
				"description": "Search the indexed Stellar ecosystem GitHub code repos — actual source graded by repoScore (0-100: freshness + traction + ecosystem authority), filterable by `language`/`minScore`. Use for 'show me the code/repos for X' or 'find a Rust/Soroban implementation of X' — prior-art source to read, fork, or cite. Not for products/companies and their funding/status → use searchProjects.",
				"x-routing": {
					"purpose": "Find quality-graded Stellar GitHub source code — libraries, contracts, SDKs, templates. Indexes topics + description + language + README; expands tech synonyms.",
					"keywords": [
						"code",
						"repos",
						"github",
						"source",
						"libraries",
						"sdks",
						"client libraries",
						"boilerplate",
						"templates",
						"starters",
						"example contracts",
						"reference contracts",
						"sep-41 token",
						"sep reference impls",
						"openzeppelin soroban",
						"testing tooling",
						"fuzz",
						"property-based",
						"unit tests",
						"rust",
						"soroban",
						"streaming payments",
						"recurring payments",
						"groth16",
						"zk",
						"zero-knowledge",
						"snark",
						"proof verifier",
						"passkey",
						"smart wallet",
						"soroban-sdk version",
						"stellar-cli release",
						"target protocol",
						"openzeppelin rwa",
						"regulated token",
						"erc-3643",
						"t-rex",
						"ai-agent identity",
						"oracle",
						"price-feed"
					],
					"useWhen": [
						"show me the code / what GitHub repos exist for X",
						"find a Rust/Soroban implementation, example, or reference contract (SEP-41 token, SEP reference impls, OpenZeppelin Soroban/RWA/regulated-token contracts)",
						"find libraries, SDKs, boilerplate, starters, or testing tooling (fuzz, property-based, unit tests) for Soroban/Rust/Stellar",
						"streaming/recurring-payment contract examples, Groth16/ZK proof verifiers, passkey and smart-wallet implementations, AI-agent identity work",
						"current soroban-sdk / stellar-cli release versions and target protocol; top-rated SDK/client-library repos"
					],
					"notFor": [
						"what products/companies exist or their funding/live status -> searchProjects",
						"conceptual docs, SEPs, audits, or how-to/feasibility knowledge -> searchResearch",
						"a known project's metadata (its repos already ride inline on results) -> searchProjects",
						"'where is X defined / how does Y work' inside one repo -> explainRepo"
					],
					"exampleQuestions": [
						"Find a Soroban AMM implementation in Rust",
						"What OpenZeppelin contracts exist for Stellar?",
						"Show me passkey smart-wallet repos",
						"Is there a Groth16 proof verifier for Soroban?"
					]
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/q"
					},
					{
						"name": "language",
						"in": "query",
						"description": "Filter by primary language (case-insensitive substring, e.g. 'Rust', 'TypeScript')",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "minScore",
						"in": "query",
						"description": "Only return repos with repoScore ≥ this (0–100). Use 40+ for high-signal references.",
						"schema": {
							"type": "integer",
							"minimum": 0,
							"maximum": 100,
							"default": 0
						}
					},
					{
						"name": "activity",
						"in": "query",
						"description": "Filter by observable activity state (each row also carries it as activityState). 'archived' is the owner's own verdict; 'dormant' means a KNOWN commit older than 180 days — an observation, not a death verdict; 'unknown' means no commit date held. Unknown values return 400 with the valid list.",
						"schema": {
							"type": "string",
							"enum": [
								"active",
								"maintained",
								"dormant",
								"archived",
								"unknown"
							]
						}
					},
					{
						"$ref": "#/components/parameters/limit"
					},
					{
						"$ref": "#/components/parameters/offset"
					},
					{
						"$ref": "#/components/parameters/fields"
					}
				],
				"responses": {
					"200": {
						"description": "Repo search results graded by repoScore",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RepoSearchResponse"
								}
							}
						}
					}
				}
			}
		},
		"/api/repos/explain": {
			"get": {
				"operationId": "explainRepo",
				"tags": [
					"Repos"
				],
				"summary": "Deep code answer about a Stellar repo (routing × DeepWiki)",
				"description": "Source-grounded ANSWER to a deep code question about a Stellar internal or any indexed ecosystem repo — 'how does X implement/calculate Y in its code'. Routes the question to the authoritative repo (stellar-core, Horizon/go, RPC, SDKs, SEP reference impls) or the graded repo index, then DeepWiki answers from that repo's source files. Degrades to the routed repo + deepWikiUrl when DeepWiki is unavailable. Not for discovering which repos/projects exist → use searchRepos.",
				"x-routing": {
					"purpose": "Deep 'where/how' code answers grounded in the authoritative Stellar repo's internals.",
					"keywords": [
						"error codes",
						"result codes",
						"consensus",
						"scp",
						"xdr",
						"stellar-core",
						"horizon",
						"stellar/go",
						"rpc",
						"stellar-rpc",
						"sep reference implementation",
						"sdk internals",
						"implementation",
						"defined",
						"deepwiki",
						"how does it calculate",
						"calculate",
						"in the code",
						"how is it implemented",
						"where in the code",
						"interest rate model",
						"how does the contract",
						"algorithm",
						"formula",
						"mechanism",
						"code walkthrough",
						"explain the code",
						"how does the code"
					],
					"useWhen": [
						"'where is X defined / how does Y work' for a Stellar internal (error/result codes, consensus/SCP, ledger, XDR, a SEP's implementation)",
						"'how do I / where is / show me the implementation of' deep code questions answered from the authoritative repo's internals"
					],
					"notFor": [
						"which repos/projects exist -> searchRepos / searchProjects",
						"ecosystem docs / SEP text / audits -> searchResearch"
					],
					"exampleQuestions": [
						"Where are transaction result codes defined?",
						"How does SCP reach consensus?",
						"Where does Horizon ingest ledger data?"
					]
				},
				"parameters": [
					{
						"name": "q",
						"in": "query",
						"required": true,
						"description": "The deep code question (e.g. 'where are transaction result codes defined').",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "repo",
						"in": "query",
						"required": false,
						"description": "Optional owner/name to pin the repo (e.g. stellar/stellar-core). Omit to auto-route.",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Routed repo + DeepWiki-grounded answer",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"meta": {
											"type": "object",
											"description": "Provenance: routing/grounding source + generation time.",
											"properties": {
												"source": {
													"type": "string"
												},
												"generatedAt": {
													"type": "string",
													"format": "date-time"
												},
												"note": {
													"type": "string"
												},
												"warnings": {
													"type": "array",
													"items": {
														"type": "string"
													},
													"description": "THIS OPERATION ONLY: present on deepwiki-grounded answers, carrying the answer-dating disclaimer (answerAsOf is null; scannedAt/scannedRef/lastCommitAt date OUR SOURCE SCAN, not the answer). Unlike the shared Meta.warnings (ignored-query-param disclosure), it says nothing about your request parameters."
												}
											}
										},
										"q": {
											"type": "string"
										},
										"repo": {
											"type": "string",
											"nullable": true
										},
										"routedVia": {
											"type": "string",
											"nullable": true,
											"description": "How the repo was chosen: explicit (the `repo` param, or `q` itself is a bare owner/name — that names the repo and outranks the concept map) | canonical | knowledge-trigger (a curated trigger phrase on a knowledge note named exactly one repo, before the lexical index voted) | search. null when nothing routed."
										},
										"repoMeta": {
											"type": "object",
											"nullable": true,
											"description": "Freshness/status of the routed repo from the StellarLight INDEX — these dates cover our index's view of the repo, explicitly NOT the answer. Never attach lastCommitAt as the answer's as-of date: the answer is dated by answerAsOf alone, and a DeepWiki answer can predate lastCommitAt and contradict the code at it. Null when the repo isn't indexed or nothing routed.",
											"properties": {
												"lastCommitAt": {
													"type": "string",
													"format": "date-time",
													"nullable": true
												},
												"stars": {
													"type": "integer",
													"nullable": true
												},
												"isArchived": {
													"type": "boolean"
												},
												"repoScoreLabel": {
													"type": "string",
													"nullable": true
												},
												"kind": {
													"type": "string",
													"enum": [
														"archived",
														"fork",
														"template-or-tutorial",
														"contract",
														"application",
														"hackathon",
														"code"
													],
													"description": "What KIND of repo this is, DERIVED at read time from the row's own stored signals (nothing new is stored or researched), first match wins: isArchived → archived; isFork → fork; a template/example/tutorial-looking name → template-or-tutorial; codeVerified.isDeployableContract → contract; linked to a directory product (project) → application; judgedHackathon → hackathon (a judged entry that is neither a contract nor a listed product — one that became a product is an application: the product link outranks where the code was first submitted); else code — a hackathon demo, a fork and a shipped product are not equal references, so weigh it by kindBasis."
												},
												"kindBasis": {
													"type": "string",
													"description": "The signal that decided kind, so the label can be weighed: isArchived | isFork | judgedHackathon | nameLooksTemplate (the one heuristic — a name pattern such as '*-template', 'hello-world', 'example', 'tutorial'; the rest are stored facts) | isDeployableContract | projectSlug | none (fell through to code)."
												}
											}
										},
										"codeVerified": {
											"type": "object",
											"nullable": true,
											"description": "Code-verified truth from analyzing the routed repo's ACTUAL source — qualify the answer with it: a deployable contract on a supported soroban-sdk is authoritative; tooling that merely uses Stellar is not. Null until code-scanned.",
											"properties": {
												"stellarProof": {
													"type": "string"
												},
												"codeDepth": {
													"type": "number",
													"nullable": true
												},
												"isDeployableContract": {
													"type": "boolean",
													"description": "The routed repo's PRODUCT is a deployable Soroban contract. Known platform/SDK/tooling repos (stellar-core, rs-soroban-env, the SDKs/CLI/RPC…) are pinned FALSE — they vendor cdylib crates as runtime/fixtures, and this flag must never be read as 'Stellar Core itself is deployable'."
												},
												"sorobanSdkVersion": {
													"type": "string",
													"nullable": true
												},
												"versionStatus": {
													"type": "string",
													"nullable": true
												},
												"codeConfidence": {
													"type": "object",
													"nullable": true,
													"description": "Deterministic trust score for the code facts (basis code-scan × freshness of scannedAt). Null when never scanned.",
													"properties": {
														"score": {
															"type": "number"
														},
														"label": {
															"type": "string",
															"enum": [
																"high",
																"medium",
																"low"
															]
														},
														"ageDays": {
															"type": "integer",
															"nullable": true
														}
													}
												},
												"scannedAt": {
													"type": "string",
													"format": "date-time",
													"nullable": true
												},
												"scannedRef": {
													"type": "string",
													"nullable": true,
													"description": "Commit SHA of the default branch the code facts were computed at — cite github.com/<fullName>/tree/<scannedRef>. Null on scans before 2026-08-12."
												},
												"symbols": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"contractInterface": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"targetProtocol": {
													"type": "integer",
													"nullable": true
												},
												"protocolCaps": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"cap": {
																"type": "integer"
															},
															"title": {
																"type": "string"
															},
															"status": {
																"type": "string",
																"nullable": true
															},
															"url": {
																"type": "string"
															}
														}
													}
												},
												"stellarDeps": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"mainnetContractId": {
													"type": "string",
													"nullable": true
												},
												"sdkCapabilities": {
													"type": "array",
													"items": {
														"type": "string"
													}
												}
											}
										},
										"answer": {
											"type": "string",
											"nullable": true,
											"description": "DeepWiki source-grounded answer; null if DeepWiki had no answer (routed repo still returned)."
										},
										"answerSource": {
											"type": "string",
											"nullable": true,
											"description": "Where the answer text came from ('knowledge-note' | 'deepwiki' | 'stellarlight-code-scan'); null when no answer was produced — cite it alongside the answer. It states the GROUNDING, never the age: see answerAsOf. 'knowledge-note' = a curated, dated, source-cited fact that directly names the identifier asked about; it LEADS the answer, and any DeepWiki walkthrough appended after it is an undated index that can lag it — where they disagree, the dated fact wins."
										},
										"answerAsOf": {
											"type": "string",
											"format": "date-time",
											"nullable": true,
[...]
